@import "fonts";
@import "variables";
@import "kitten";

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1 0 0;
}

.loader {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: white;

    &_active {
        display: flex;
        transform: scale(1);
    }

    &__image {
        display: block;
        width: 10rem;
        height: 10rem;
        z-index: -1001;
    }
}
