@import "fonts";
@import "variables";
@import "kitten";

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1 0 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    background-color: #fff;

    &_active {
        display: flex;
    }

    &__image {
        display: block;
        width: 5rem;
        height: 5rem;

        background-image: url("../images/loader.gif");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%
    }
}
