@import "fonts";
@import "variables";
@import "kitten";

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1 0 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items:center;

    overflow:hidden;
    width:100vw;
    height:100vh;
}

.loader-img {
    display:block;
    width:10.2rem;
    height:10.2rem;
    background-image: url("../images/loader.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
        z-index:1001
}

